:root {
    font-size: 10px;
    --grilledCheeseColor: #e07135;
    --borderColor: #eaa077;
    --background-color: #ae4e1b;
    --border-radius-container: 1.5rem;
    --border-radius-button: 4rem;
    background-color: var(--background-color);
}

#home-text-intro {
    font-size: 2.2rem;
    color: white;
    text-shadow: black 1px 1px 1px;
}

#home-text-intro > b {
    font-weight: 600;
    text-shadow: black 1px 1px 5px;
    font-style: italic;
}

.nav-bar-container {
    background-color: var(--grilledCheeseColor);
    border: 3px solid var(--borderColor);
    border-radius: var(--border-radius-container);
}

.nav-button {
    background-color: var(--background-color);
    border-color: var(--borderColor);
    box-shadow: 1px 2px 2px 1px black;
    color: white;
    width: 10vw;
    border-radius: var(--border-radius-button);
    font-size: 2.5rem;
}

.body-container {
    background-color: var(--grilledCheeseColor);
    border: 3px solid var(--borderColor);
    border-radius: var(--border-radius-container);
}