:root {
    font-size: 10px;
    --grilledCheeseColor: #e07135;
    --borderColor: #fcec9a;
    --background-color: #ae4e1b;
    --border-radius-container: 1.5rem;
    --border-radius-button: 4rem;
    background-image: url(./images/Restaurant.jpeg);
    background-size: cover;
}

.page-container {
    display: grid;
    grid-template-columns: 95vw;
    grid-template-rows: 11vh 88vh;
    padding-left: 2.5%;
    padding-top: 1%;
    gap: 2px;
}

#body-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    font-size: 3rem;
    color: white;
    text-shadow: black 1px 1px 1px;
    background-color: rgb(0, 0, 0, 0.6);
}

.body-container > * > b {
    font-weight: 600;
    text-shadow: black 1px 1px 5px;
    font-style: italic;
}

.nav-bar-container {
    background-color: rgba(224, 113, 53, 0.6);
    border: 3px solid var(--borderColor);
    border-radius: var(--border-radius-container);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    background-color: var(--background-color);
    border-color: var(--borderColor);
    box-shadow: 1px 2px 2px 1px #412100;
    opacity: 1;
    color: white;
    width: 10vw;
    height: 7.5vh;
    border-radius: var(--border-radius-button);
    font-size: 2.5rem;
}

.nav-button:hover {
    box-shadow: 1px 2px 2px 3px #412100;
    font-weight: 500;
    color: #412100;
}

.body-container {
    background-color: rgba(224, 113, 53, 0.6);
    border: 3px solid var(--borderColor);
    border-radius: var(--border-radius-container);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr;
}

.intro-text {
    text-align: center;
    justify-content: center;
}

.picture-container {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    place-items: center;
    justify-content: space-around;
}

.picture-card {
    background-color: rgb(234, 160, 119, 0.66);
    border: 5px solid var(--borderColor);
    border-radius: var(--border-radius-container);
    font-size: 2.25rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.picture-card:hover {
    box-shadow: 3px 3px 10px 5px white;
    font-weight: 600;
    transform: scale(1.2, 1.2);
}
.food-picture {
    width: 100%;
    height: 85%;
}


p {
    align-content: center;
    text-align: center;
    overflow: visible;
}